language: python
python:
  - "2.7"

# Miniconda copied from
# https://gist.github.com/dan-blanchard/7045057
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq libatlas-dev libatlas-base-dev liblapack-dev gfortran
  - wget http://repo.continuum.io/miniconda/Miniconda-3.6.0-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda/bin:$PATH
  - conda update --yes conda

install:
  - conda install --yes pip python=$TRAVIS_PYTHON_VERSION numpy scipy pytables matplotlib
  - pip install coverage coveralls
  - python setup.py develop

script:
  - coverage run --source=sapphire setup.py test

after_success:
  coveralls
