language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
env:
  - ASTROPY=yes
  - ASTROPY=no

matrix:
  allow_failures:
    - python: "3.7"
      env: ASTROPY=yes
    - python: "3.7"
      env: ASTROPY=no

sudo: false

# Miniconda copied from
# https://gist.github.com/dan-blanchard/7045057
before_install:
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      MINICONDA=Miniconda2-latest-Linux-x86_64.sh;
    else
      MINICONDA=Miniconda3-latest-Linux-x86_64.sh;
    fi
  - wget --no-verbose http://repo.continuum.io/miniconda/${MINICONDA} -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH=$HOME/miniconda/bin:$PATH
  - conda update --yes conda

install:
  - conda create --yes -n build_env python=$TRAVIS_PYTHON_VERSION numpy scipy pytables numba
  - source activate build_env
  - if [ "$ASTROPY" = "yes" ]; then
      conda install --yes astropy;
    fi
  - pip install -e .[dev,coverage]

script:
  - make test

after_success:
  - codecov
  - coveralls

before_deploy:
  - touch doc/_build/html/.nojekyll

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: doc/_build/html
  email: beheer@hisparc.nl
  name: HiSPARC-Bot
  on:
    branch: master
    python: 3.6
    condition: "$ASTROPY = yes"
